<div id="product-info">
    <div class="row justify-content-center p-0 py-5 m-0">
        <div class="col-2 p-0 m-0 pr-2">
            <app-product-sizing class="col-2 p-0 m-0 pr-2" [product]="product"></app-product-sizing>
            <app-product-purcharse-option class="col-2 p-0 m-0 pr-2" [product]="product"></app-product-purcharse-option>
        </div>
        <div class="col-6 pl-2">
            <app-product-desc class="col-6 p-0 m-0 pl-2" [product]="product"></app-product-desc>
            <app-product-social class="col-6 p-0 m-0 pr-2" [product]="product"></app-product-social>
        </div>
    </div>
</div>