.slider-nav {
    z-index: 1;
}

.fa-slider-icon {
    color: black;
    font-size: 1em;
    font-weight: 100;
    padding: 15px 10px 15px 10px;
    background-color: rgba(255, 255, 255, 50%);
    position: relative;
    top: -80px;    
    border-radius: 5px;
}

#slider-previous {
    float: left;
}

#slider-next {
    float: right;
}

.fa-location-icon{
    padding: 5px 5px 5px 5px;
}

.location-icon-container {
    background-color: rgba(255, 255, 255, 50%);
    border-radius: 5px;
    padding: 2px 2px 2px 2px;
}

.slider-location {
    text-align: center;
    padding: 0;
    margin: 0;
    top: -30px;
    position: relative;
}