#slider-nav {
    z-index: 1;
    position: absolute;
    top: 440px;
}

.fa-slider-icon {
    color: black;
    font-size: 1em;
    font-weight: 100;
    background-color: rgba(255, 255, 255, 50%);
    border-radius: 5px;
}

.location-icon-container {
    background-color: rgba(255, 255, 255, 50%);
    border-radius: 5px;
}