#search-header {
    height: 60px;
    width: 100vh;
}

#logo-header {
    height: 60px;
}

.fa-icon {
    font-size: 1.5em;
}

.icon-container-size {
    width: 9.9vw;
}

.logo-container {
    width: 80vw;
}