<div class="row p-0 m-0">
    <div class="col-12 p-0 m-0">
        <div class="row col-12 p-0 m-0">
            <fa-icon class="fa-icon d-inline my-auto mx-3" (click)="onNavToggle()" [icon]="menuIcon"></fa-icon>

            <img id="logo-header" class="d-block mx-auto" src='../../../assets/img/logo-header.png'>

            <fa-icon class="fa-icon d-inline my-auto mx-3" [icon]="searchIcon"></fa-icon>

            <fa-icon class="fa-icon d-inline my-auto mx-3" [icon]="cartIcon"></fa-icon>
        </div>
    </div>
</div>