<div class="container-fluid p-0">
    <mat-sidenav-container>
        <mat-sidenav #sideNav [opened]="false" [fixedInViewport]="true">
            <app-sidebar-container (navCloseEvent)="sideNav.toggle()"></app-sidebar-container>
        </mat-sidenav>
        <mat-sidenav-content>
            <app-header (navToggleEvent)="sideNav.toggle()"></app-header>
            <router-outlet></router-outlet>
            <app-footer></app-footer>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>