<mat-grid-list cols="100" rowHeight="60px">
    <mat-grid-tile [colspan]="3">
        <fa-icon class="fa fa-2x" [icon]="menuIcon"></fa-icon>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="91">
        <img id="logo-header" src='../../../assets/logo-header.png'>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="3">
        <fa-icon class="fa fa-2x" [icon]="searchIcon"></fa-icon>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="3">
        <fa-icon class="fa fa-2x" [icon]="cartIcon"></fa-icon>
    </mat-grid-tile>
</mat-grid-list>