.login-title {
    font-size: 24px;
    font-weight: 500;
}

.login-link {
    font-size: 18px;
    cursor: pointer;
}

.login-link:hover {
    transition: 500ms;
    color: rgb(124, 124, 124)
}

.login-btn {
    font-size: 18px;
    outline: none;
}