<div class="row justify-content-center p-0 m-0 py-3">
    <div class="col-7 p-0 m-0">
        <p class="col-12 p-0 m-0 journal-title text-center" (click)="onFullEntry(entry.id)">{{entry.title}}</p>
    </div>
</div>
<div class="row justify-content-center p-0 py-3 m-0">
    <div class="col-9 p-0 m-0">
        <img class="col-12 p-0 m-0 journal-img" [src]="entry.img.src" [alt]="entry.img.alt" />
    </div>
</div>
<div class="row justify-content-center p-0 py-3 m-0">
    <div class="col-7 p-0 m-0">
        <p class="col-12 p-0 m-0 journal-text text-left" [innerText]="entry.text"></p>
    </div>
</div>

<div class="row justify-content-center p-0 py-3 m-0">
    <div class="col-7 p-0 m-0">
        <p class="col-12 p-0 m-0 journal-nav-text text-left" (click)="onFullEntry(entry.id)">
            READ FULL ARTICAL 
            <fa-icon [icon]="rightArrow"></fa-icon>
        </p>
    </div>
</div>