.journal-title {
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}

.journal-img {
    border-radius: 25px;
}

.journal-text {
    font-size: 18px;
}

.journal-nav-text {
    font-size: 14px;
    text-decoration: underline;
    font-weight: 500;
    cursor: pointer;
}