.register-title {
    font-size: 24px;
    font-weight: 500;
}

.register-link {
    font-size: 18px;
    cursor: pointer;
}

.register-link:hover {
    transition: 500ms;
    color: rgb(124, 124, 124)
}

.register-btn {
    font-size: 18px;
    outline: none;
}