<div id="register-container" class="row justify-content-center p-0 m-0">

    <div class="col-3 p-0 m-0 py-5">
        <form [formGroup]="registerForm">
            <p class="col-12 p-0 m-0 text-center register-title">Create Account</p>

            <div class="col-12 p-0 m-0">
                <mat-form-field class="w-100">
                    <mat-label>First Name</mat-label>
                    <input type="text" matInput formControlName="firstName" placeholder="John">
                    <mat-error
                        *ngIf="registerForm.controls.firstName.hasError('email') && !registerForm.controls.firstName.hasError('required')">
                        Please enter a valid first name
                    </mat-error>
                    <mat-error *ngIf="registerForm.controls.firstName.hasError('required')">
                        First name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-12 p-0 m-0">
                <mat-form-field class="w-100">
                    <mat-label>Last Name</mat-label>
                    <input type="text" matInput formControlName="lastName" placeholder="Smith">
                    <mat-error
                        *ngIf="registerForm.controls.lastName.hasError('email') && !registerForm.controls.lastName.hasError('required')">
                        Please enter a valid last name
                    </mat-error>
                    <mat-error *ngIf="registerForm.controls.lastName.hasError('required')">
                        Last name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-12 p-0 m-0">
                <mat-form-field class="w-100">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" placeholder="Ex. username@domain.com">
                    <mat-error
                        *ngIf="registerForm.controls.email.hasError('email') && !registerForm.controls.email.hasError('required')">
                        Please enter a valid Email
                    </mat-error>
                    <mat-error *ngIf="registerForm.controls.email.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-12 p-0 m-0">
                <mat-form-field class="w-100">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password">
                    <mat-error
                        *ngIf="registerForm.controls.password.hasError('email') && !registerForm.controls.password.hasError('required')">
                        Please enter a valid Password
                    </mat-error>
                    <mat-error *ngIf="registerForm.controls.password.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-12 p-0 py-3 m-0">
                <button class="btn-block register-btn p-1" mat-raised-button color="primary">Create Account</button>
            </div>

            <p class="col-12 p-0 m-0 py-2 register-link text-center" (click)="onReturn()">Return to Store</p>

        </form>
    </div>

</div>