<div id="cart-checkout" class="row col-12 p-2 m-0">
    <div class="col-12 p-0 py-2 m-0">
        <p class="d-inline p-0 m-0 checkout-total">Subtotal</p>
        <p class="d-inline p-0 m-0 float-right checkout-total-price">{{cart.currency}}{{cart.cost}}</p>
    </div>

    <div class="col-12 p-0 m-0">
        <p class="col-12 p-0 pb-2 m-0 text-center checkout-note">Taxes and shipping calculated at checkout</p>
        <button class="col-12 btn-block checkout-btn" mat-raised-button color="primary" (click)="checkout()">Checkout</button>
    </div>
</div>