.store-front{
    height: 500px;
    width: 60vw;
    object-fit: fill;
}

.store-info-header {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    width: 60vw;
}

.store-info-text {
    font-size: 18px;
    text-align: center;
    width: 60vw;
}