<div class="row p-0 m-0">
    <p class="p-0 py-5 m-0 store-info-header d-block mx-auto my-auto">{{config.header}}</p>
    <p class="p-0 pb-5 m-0 store-info-text d-block mx-auto my-auto">{{config.text}}</p>
</div>
<div class="row p-0 m-0">
    <img class="store-front d-block mx-auto my-auto" src="{{config.img}}">
</div>
<div class="row p-0 m-0">
    <p class="p-0 py-2 m-0 store-info-text d-block mx-auto my-auto">{{config.address.text}}</p>
    <p class="p-0 py-2 m-0 store-info-text d-block mx-auto my-auto">{{config.address.timing}}</p>
</div>
