<div class="row col-12 p-0 py-3 m-0">
    <div class="col-12 p-0 py-2 m-0">
        <p class="amount-title p-0 m-0 float-left">Subtotal</p>
        <p class="amount-title p-0 m-0 float-right">{{currency}}{{subtotal}}</p>
    </div>

    <div class="col-12 p-0 py-2 m-0">
        <p class="amount-title p-0 m-0 float-left">Shipping</p>
        <p class="amount-title p-0 m-0 float-right">{{currency}}{{shipping}}</p>
    </div>

    <div class="col-12 p-0 py-2 m-0">
        <p class="amount-title p-0 m-0 float-left">Total</p>
        <p class="amount-title p-0 m-0 float-right">{{currency}}{{total}}</p>
    </div>
</div>